* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Arial;
  font-size: 20px;
}

html {
  background-color: blue($color: #000000);
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  display: block;
}