* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.fixed-container {
	width: 1000px;
	height: 3000px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: #D3C2B2;
	/* text-align: center; */
}

#toggleScroll {
	/* width: 400px; */
	/* height: 200px; */
	/* margin-top: 200px; */
}

#toggleDisplay {
	width: 200px;
	height: 100px;
	margin-top: 50px;
	margin-left: 50px;
}

.message-container {
	position: fixed;
	/* display: none; */
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 30;
}

.message {
	width: 370px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	top: 38%;
	padding-top: 86px;
	background-color: #C8E1E3;
	text-align: center;
	border: 5px solid black;
}