.content {
  overflow-x: hidden;

  &_unscroll {
    overflow-y: hidden;
  }
}

.fixed-container{
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

